
#sec {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    display: grid;
    /* width: 100% ;
    height:100% ; */
    width: 480px ;
    height:767px ;
    border-width: 1px;
    grid-template-rows: (9.77% 19.55% 16.29% 16.29% 32.59% 32.59% 10.43%)
}

/* @media (max-width: 960px) {
    #sec {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: larger;
        display: grid;
        width: 960px;
        height:767px ;
        border-width: 1px;
        grid-template-rows: (9.77% 19.55% 16.29% 16.29% 32.59% 32.59% 10.43%)
    }
} */

