
#sec {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    display: inline-block;
    width: 480px;
    height:767px ;
    border-width: 1px;
}

@media (max-width: 960px) {
    #sec {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: larger;
        display: inline-block;
        width: 960px;
        height:767px ;
        border-width: 1px;
    }
}

